@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Outfit:wght@100..900&display=swap');

body{
    font-family: "Kumbh Sans";
    margin: 0;
    height: 100vh;
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    color: white;
}

.card{
    background-color:hsl(216, 50%, 16%) ;
    width: 400px;
    height: 650px;
    margin-top: 15%;
    border-radius: 15px;
}
.Img{
    width: 340px;
    height: 340px;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 30px;
}

p{
    font-size: 14px;
    margin-left: 30px;
}
img{
    margin-left: 30px;
}
h2{
    margin-left: 30px;
}
.div3{
    display: flex;
    justify-content: space-between;
}
.div3Div1{
    display: flex;
    align-items: center;
    gap: 5px;

}
.div3Div2{
    display: flex;
    align-items: center;
    margin-right: 30px;
    gap: 5px;
}
.div3Div1P{
    color:hsl(178, 100%, 50%);
    margin-left: -1%;
    font-weight: 600;
}

.div3Div2P{
    color:hsl(215, 51%, 70%);
    margin-left: -1%;
}

.div2P{
    color:hsl(215, 23%, 35%) ;
    font-size: 17px;
}